$primary:#009dff;

body{
  margin:0 auto;


}

.container{
  width:80%;
  margin:0 auto;
}

header{
  background:$primary;
  padding: 1vw 0 ;
  a {
    color: white;
    text-decoration: none;

  }

  a.title{
    font-weight: bold;

  }

  nav{
    float:right;
    ul{
      list-style-type: none;
      margin: 0;
      display: flex;

      li a{
        padding:1.2em;


      }

      li a:hover{
        background: darken($primary,20%);
      }
    }
  }
}
